<?xml version="1.0" encoding="UTF-8"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<config>
	<db_instance>
		<implementation>mysqli</implementation>
		<host/>
		<database/>
		<user/>
		<password/>
		<persistent>false</persistent>
		<db_cache_time>0</db_cache_time>
		<table_prefix/>
	</db_instance>

	<count_rows>true</count_rows>

	<log_xpid>true</log_xpid>
	<log_ip>true</log_ip>

	<!-- borra el xpdoc generado una vez transformado -->
	<clean_xpdoc>true</clean_xpdoc>

	<cache_dir>/tmp/xpotronix/</cache_dir>
	<log_dir>/tmp/xpotronix/</log_dir>

	<app_cache_time>0</app_cache_time>
	<!-- <gacl_cache_time>600</gacl_cache_time> -->

</config>
