<?xml version="1.0"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<app>
<alias>bolu-corporate</alias>
<alias>consultas</alias>
<alias>fotoshow2008</alias>
<alias>iusacell</alias>
<alias>jurisbook</alias>
<alias>jurisbook-sp</alias>
<alias>juristeca</alias>
<alias>kabbalah</alias>
<alias>mydns</alias>
<alias>oceanglobal</alias>
<alias>proyectron</alias>
<alias>riesgos-ti</alias>
<alias>sadio-test</alias>
<alias>sumarios</alias>
<alias>supremo-plus</alias>
<alias>voteme</alias>
<alias>xpotronix</alias>
</app>
