<?xml version="1.0" encoding="UTF-8"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<config>
	<db_instance name="default-acl">
		<table_prefix>gacl_</table_prefix>
		<fetch_mode type="int">1</fetch_mode>
	</db_instance>
	<gacl_class>xpacl</gacl_class>
	<gacl_table_prefix>gacl_</gacl_table_prefix>
	<gacl_cache_time type="int">0</gacl_cache_time>
</config>
