<?xml version="1.0" encoding="UTF-8"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<config>
	<db_instance>
		<implementation>mysqli</implementation>
		<host/>
		<database/>
		<user/>
		<password/>
		<persistent type="bool">true</persistent>
		<db_cache_time type="int">0</db_cache_time>
		<table_prefix/>
	</db_instance>

	<count_recs type="bool">true</count_recs>

	<log_xpid type="bool">true</log_xpid>
	<log_ip type="bool">true</log_ip>

	<!-- borra el xpdoc generado una vez transformado -->
	<clean_xpdoc type="bool">true</clean_xpdoc>

	<cache_dir>/tmp/xpotronix/</cache_dir>
	<log_dir>/tmp/xpotronix/</log_dir>

	<app_cache_time type="int">0</app_cache_time>
	<gacl_cache_time type="int">600</gacl_cache_time>

</config>
