<?xml version="1.0" encoding="UTF-8"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<config>
	<db_instance name="default-acl"/>
	<!-- <audit_ignore_action>/(login)/s</audit_ignore_action> -->
	<audit_ignore_proc>/(State)/s</audit_ignore_proc>
	<!-- <audit_ignore_proc>/(State|repost)/s</audit_ignore_proc> -->
</config>
