<?xml version="1.0" encoding="utf-8"?>

<!--
	@package xpotronix
	@version 2.0 - Areco 
	@copyright Copyright &copy; 2003-2011, Eduardo Spotorno
	@author Eduardo Spotorno
 
	Licensed under GPL v3
	@license http://www.gnu.org/licenses/gpl-3.0.txt
-->

<menu>
	<!-- 
        <menu n="Usuarios" acl="access:users">
                <item n="Administración de Usuarios" h="?m=users" acl="access:users"/>
        </menu>
	-->

	<fill/>
        <menu n="Usuario" itemId="current_user">
                <item n="Ingresar" h="javascript:App.login();" itemId="user_login"/>
                <item n="Cambiar Contraseña" h="javascript:App.change_password();" acl="access:users" itemId="user_change_pasword"/>
                <item n="Salir" h="javascript:App.logout();" acl="access:users" itemId="user_logout"/>

        </menu>
</menu>

